<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet2.css"/>
		<title>Underminer: About</title>
	</head>
	<body background="/paper2.jpg">
		<div id="eraser"></div>
		<div id="miner_logo_shadow"></div>
		<div id='header_shadow'></div>
	    <div id="header">
	    	<a href="/"><img src="/miner.png"/>
	        <h1>UNDERMINER</h1></a>
	        <div id="menu">
	        	<a href="/demo.html"><div id="demo">DEMO</div></a>
	        	<a href="/docs.html"><div id="docs">DOCS</div></a>
	        	<a href="/about.html"><div id="about">ABOUT</div></a>
	        </div>
	    </div>
	    <div class="middle">
	        <div class="book_cover">
	            <div class="project_intro"><span class="logo-in-text">UNDERMINER</span> is built by Balazs Krich, a dreamer with a silent ambition from Budapest, Hungary. Here are some of my recent projects which are about visualising data in different forms.</div>

	            <div class="project">
	                <div class=project_image><a href="http://www.underminer.net/uat" target="_blank"><img src="/img/marvel.png"></a></div>
                    <div class="project_text_wrapper">
	                    <div class="project_title"><a href="http://www.underminer.net/uat" target="_blank">MARVEL RECOMMENDATION ENGINE</a></div>
	                    <div class="project_description">A hobby project built on top of Marvel's API, displaying a random comic book and 27 recommendations with the help of a custom designed data analyzer algorithm. Users can also search for a desired comic series / issue from Marvel's database, or suggest characters not associated with the issue on display. This version of the site is under development, the live, responsive (well, almost) version can be found at <a class="intext_link" href="http://www.underminer.net" target="_blank">underminer.net</a>.</div>
	                </div>
	            </div>
	            <div class="project">
	                <div class=project_image><a href="http://otthonterkep.hu/" target="_blank"><img src="/img/otthon.png"></a></div>
	                <div class="project_text_wrapper">
	                    <div class="project_title"><a href="http://otthonterkep.hu/" target="_blank">OTTHONTERKEP</a></div>
	                    <div class="project_description">Otthonterkep is a real estate startup I'd produced for my former employer, <a class="intext_link" href="http://cemp.hu/hu" target="_blank">Central European Media & Publishing</a> (CEMP). Besides starting the company, recruiting team members and supervising production, I made sure to bring code to the project personally: I've designed the basemap's tileset using OpenStreetMap data, and built all map-based visualisation prototypes for the final product.</div>
	                </div>
	            </div>
	             <div class="project">
	                <div class=project_image><a href="http://hubwaydatachallenge.org/submission/38/" target="_blank"><img src="/img/boston.png"></a></div>
	                <div class="project_text_wrapper">
	                    <div class="project_title"><a href="http://hubwaydatachallenge.org/submission/38/" target="_blank">HUBWAY DATA CHALLANGE</a></div>
	                    <div class="project_description">My submission with Daniel Molnar for a data visualisation contest by Boston's <a class="intext_link" href="http://www.thehubway.com/" target="_blank">Hubway</a> bike sharing system. I'd designed a Tilemill / Mapbox tileset based on a number of data sources, including mapdata from Oliver, MassGIS's awesome online data repository, and satellite images for shaded relief from NASA’s Shuttle Radar Topography Mission. Our submission never made it to the finals, it was a fun project though!</div>
	                </div>
	            </div>
	            <div class="project">
	                <div class=project_image><a href="https://a.tiles.mapbox.com/v3/otthonterkep.map-ee5zikrn/page.html?secure=1#8/47.255/19.457" target="_blank"><img src="/img/tax.png"></a></div>
	                <div class="project_text_wrapper">
	                    <div class="project_title"><a href="https://a.tiles.mapbox.com/v3/otthonterkep.map-ee5zikrn/page.html?secure=1#8/47.255/19.457" target="_blank">MAPPING HUNGARY'S LATE TAX PAYERS</a></div>
	                    <div class="project_description">One example of the interactive data visualizations I'd built for <a class="intext_link" href="http://index.hu/gazdasag/2013/07/18/itt_van_az_osszenemzeti_adosterkep/" target="_blank">index.hu</a>, Hungary's most visited general interest portal - and my former employer. This viz shows data published by the National Tax Agency: all companies and citizens are on display who were late (as of June, 2013) with their taxes over a period of 6 months and a sum of 40.000 USD (citizens) or 400.000 USD (companies). Unfortunately, lots of data were available.</div>
	                </div>
	            </div>
	            <div class="project">
	                <div class=project_image><a href="https://www.youtube.com/watch?v=_uKaQnCztcc" target="_blank"><img src="/img/tobacco.png"></a></div>
	                <div class="project_text_wrapper">
	                    <div class="project_title"><a href="https://www.youtube.com/watch?v=_uKaQnCztcc" target="_blank">CHANGING ACCESS TO TOBACCO IN HUNGARY 2009-2013.</a></div>
	                    <div class="project_description">This video is about how the number of tobacco selling points had changed over a course of a couple months in Hungary, after the government nationalized the tobacco-selling market. Besides showing the capital, Budapest in details, I also displayed the 19 counties' chief-towns of Hungary and some larger regions. Fun fact: Tommy Ramone was also born in Budapest. The video was shot for <a class="intext_link" href="http://index.hu" target="_blank">index.hu</a>.</div>
	                </div>
	            </div>
	            <div class="project">
	                <div class=project_image><a href="http://public.tableausoftware.com/profile/balazs.krich#!/vizhome/Whatmovieshouldwewatchtonight/Opinionmeter" target="_blank"><img src="/img/blockbuster.png"></a></div>
	                <div class="project_text_wrapper">
	                    <div class="project_title"><a href="http://public.tableausoftware.com/profile/balazs.krich#!/vizhome/Whatmovieshouldwewatchtonight/Opinionmeter" target="_blank">THE BLOCKBUSTER METER</a></div>
	                    <div class="project_description">Also a teamwork with Daniel Molnar, this time for <a class="intext_link" href="http://www.informationisbeautiful.net/2012/hollywood-visualizations/" target="_blank">Information is Beautiful</a>'s Hollywood Visualisations contest. We scraped some contextual data and merged them with the sets provided for the challange, so were able to examine box office numbers / country, and made up some exciting metrics (e.g. national gross / 1000 capita). Trailers are also included! The viz made it to the top five in the contest.</div>
	                </div>
	            </div>
	            <div class="project">
	                <div class=project_image><a href="http://www.inf.u-szeged.hu/~rfarkas/ecai2010.pdf" target="_blank"><img src="/img/origo.png"></a></div>
	                <div class="project_text_wrapper">
	                    <div class="project_title"><a href="http://www.inf.u-szeged.hu/~rfarkas/ecai2010.pdf" target="_blank">AUTOMATIC FREE-TEXT-TAGGING OF ONLINE NEWS ARCHIVES</a></div>
	                    <div class="project_description">A paper based on the project I did for <a class="intext_link" href="http://www.origo.hu/index.html" target="_blank">origo.hu</a>, where I'd worked for 7 years in various positions, mostly in the editorial. The R&D coproduction with University of Szeged's Artificial Intelligence Research Group was successfully tagging the newsportal's archives consisting of 400.000 articles. The paper was published at the 19th European Conference on Artificial Intelligence (ECAI 2010), where it was <a class="intext_link" href="http://ecai2010.appia.pt/index.php?option=com_content&task=view&id=115&Itemid=1" target="_blank">shortlisted for best paper</a>.</div>
	                </div>
	            </div>
	        </div>
	    </div>
	  	<div id="footer">
	    	<div id="footer-line"></div>
	        <p>&#169 2014 <a href="mailto:balkey80@gmail.com" subject="Underminer comment">Balazs Krich</a></p>
	    </div>
	</body>
</html>