<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet2.css"/>
		<title>Underminer: Docs</title>
	</head>
	<body background="/paper2.jpg">
		<div id="eraser"></div>
	    <div id="header">
	    	<a href="/"><img src="/miner.png"/>
	    	<div id="miner_logo_shadow"></div>
	        <h1>UNDERMINER</h1></a>
	        <div id="menu">
	        	<a href="/demo.html"><div id="demo">DEMO</div></a>
	        	<a href="/docs.html"><div id="docs">DOCS</div></a>
	        	<a href="/about.html"><div id="about">ABOUT</div></a>
	        </div>
	    </div>
	    <div class="middle">
	    	<div class="ribbon">
	    		<h2>Analysis for <span class="italic">{{ filename }}</span></h2>
	    	</div>
	    	<div class="text-container-middle-l">
	    		<h3>1. Most frequent words in {{ filename }}</h3></br></br>
                {% for word, occu in occurance_text_sorted[:21] %}
                  {% if word != 'kbkbkb' %}
                    <li>{{ word }}: {{ occu }}</li>
                  {% endif %}
                {% endfor %}
	    	</div>
			<div class="image-container-middle-r">
	    		<img src="/alice2.png"/>
	    	</div>

	    	<script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script>
	    	<div class="tableauPlaceholder" style="width:1260px; height:670px;">
	    		<noscript>
	    			<a href="#"><img alt="Dashboard 1 " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Al&#47;AliceinWonderland&#47;Dashboard1&#47;1_rss.png" style="border: none" /></a>
	    		</noscript>
	    		<object class="tableauViz" width="1260" height="670" style="display:none;">
	    			<param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" />
	    			<param name="site_root" value="" />
	    			<param name="name" value="AliceinWonderland&#47;Dashboard1" />
	    			<param name="tabs" value="no" />
	    			<param name="toolbar" value="yes" />
	    			<param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Al&#47;AliceinWonderland&#47;Dashboard1&#47;1.png" />
	    			<param name="animate_transition" value="yes" />
	    			<param name="display_static_image" value="no" />
	    			<param name="display_spinner" value="yes" />
	    			<param name="display_overlay" value="yes" />
	    			<param name="display_count" value="yes" />
	    		</object>
	    	</div>

	    	<div class="image-container-middle-l">
	    		<img src="/{{filename[:-4]}}.png"/>
	    	</div>
	    	<div class="text-container-middle-r">
	    		<h3>2. Part of speech tagging</h3></br></br>
	    		<p>Part of speech tagging is an interesting breed: mostly all longer texts split up into a quite constant array of nouns / verbs / etc. - no surprise here!</br></br>What's more interesting when you <span class="italic">combine</span> part of speech tagging with other forms of analysis. Would the occurences of only adjectives tell us more about the mood of a certain part of text, like a chapter? Certainly so! What about verbs? Do they present traces of action and happening?</br></br>Part of speech tagging becomes especially helpful when playing with n-grams and sentiment analysis, so for now just take our word: the application is ready to bring 100.300 English words for tagging, there can not be a lot more than that!</br></br>As you can see, Underminer was able to tag 96.8 percent of all disctinct words in <span class="italic">Alice's Adventures in Wonderland</span> - we keep working on that remaining 3.2 percent!</p>
	    	</div>

	    	<script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script>
	    	<div class="tableauPlaceholder" style="width:1260px; height:670px; margin:30px10px30px10px;">
	    		<noscript>
	    			<a href="#"><img alt="Alice&#39;s Adventures in Wonderland " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Al&#47;Alice-in-Wonderland&#47;Dashboard1&#47;1_rss.png" style="border: none" /></a>
	    		</noscript>
	    		<object class="tableauViz" width="1260" height="670" style="display:none;">
	    			<param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F"/>
	    			<param name="site_root" value=""/>
	    			<param name="name" value="Alice-in-Wonderland&#47;Dashboard1"/>
	    			<param name="tabs" value="no"/>
	    			<param name="toolbar" value="yes"/>
	    			<param name="display_spinner" value="yes" />
	    			<param name="display_overlay" value="yes" />
	    			<param name="display_count" value="yes" />
	    		</object>
	    	</div>

	    	<div class="text-container-middle-l">
	    		<h3>3. Panel and sentiment analysis</h3></br></br>
	    		<p>N-grams and sentiment analysis need a lot of computing and Underminer is no powerhouse. Still, looking for texts around the internet that represent the essence of the basic 8 human emotions (hopefully no more than two at a time) sounds like a fun project, so we are after you <span class="italic">haters</span> and <span class="italic">believers</span>!</br></br>Until we meet, Underminer has a lot of current shortcomings: it does not understand different part of speech that have the same form (<span class="italic">ie. "We sure mine data!"</span> or <span class="italic">"This is mine!"</span> and <span class="italic">"That is a goldmine!"</span>), it only makes vague guesses at positive and negative sentiments (see the chart below!), and the list is long.</br></br>We will keep working on making Underminer better and more accurate - for the time being, any helping advice is appreciated!</p>
	    	</div>
	    	<div class="image-container-middle-r">
	    		<img src="/pie_huck2.png"/>
	    	</div>


	    	<script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script>
	    	<div class="tableauPlaceholder" style="width:1260px; height:670px;">
	    		<noscript>
	    			<a href="#"><img alt="Dashboard 1 " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;al&#47;alice_sentiment&#47;Dashboard1&#47;1_rss.png" style="border: none" /></a>
	    		</noscript>
	    		<object class="tableauViz" width="1260" height="670" style="display:none;">
	    			<param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" />
	    			<param name="site_root" value="" />
	    			<param name="name" value="alice_sentiment&#47;Dashboard1" />
	    			<param name="tabs" value="no" />
	    			<param name="toolbar" value="yes" />
	    			<param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;al&#47;alice_sentiment&#47;Dashboard1&#47;1.png" />
	    			<param name="animate_transition" value="yes" />
	    			<param name="display_static_image" value="no" />
	    			<param name="display_spinner" value="yes" />
	    			<param name="display_overlay" value="yes" />
	    			<param name="display_count" value="yes" />
	    		</object>
	    	</div>

	    </div>
	  	<div id="footer">
	    	<div id="footer-line"></div>
	        <p>&#169 2013 Balazs Krich</p>
	    </div>
	</body>
</html>